[submodule "modules/cva6"]
	path = modules/cva6
	url = git@github.com:planvtech/cva6.git
[submodule "tests/integration/testlist/cva6-litmus"]
	path = tests/litmus/litmus_src
	url = git@github.com:planvtech/cva6-litmus.git
[submodule "tests/litmus/litmus_src"]
	path = tests/litmus/litmus_src
	url = git@github.com:planvtech/cva6-litmus.git
[submodule "cva6-sdk"]
	path = cva6-sdk
	url = https://github.com/openhwgroup/cva6-sdk.git
