[submodule "modules/cva6"]
	path = modules/cva6
	url = git@github.com:planvtech/cva6.git
[submodule "tests/integration/testlist/cva6-litmus"]
	path = tests/litmus/litmus_src
	url = git@github.com:planvtech/cva6-litmus.git
